[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = NUR AINA NAJWA BINTI MOKHTAR
	email = 101613483+ainanajwaa@users.noreply.github.com
